.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#img{
    height: 140px;
    width: 140px;
    margin: 10px 0 10px 10px; 
    float: left;
}
.logoss{
    display: flex;
    flex-direction: column;
}
#logo{
    font-size: 50px;
    display: flex;
    font-family: monospace;
    
}
#logoblw{
    font-size: 25px;
    color: rgb(176, 173, 173);
    margin-top: -55px;
    margin-left: 70px;
}


ul {
    list-style-type: none;
    margin-right: 140px;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color:white;
    border-style: none;
  }
  
  li {
    float: right;
  }

  .active{
    font-size: 30px;
    margin: 20px    ;
    border: 1px solid whitesmoke;
    padding: 15px 30px;
    border-radius: 40px;
    background-color: whitesmoke;
  }
  .active:hover{
    cursor: pointer;
    background-color: rgb(211, 209, 209);
  }
  .container{
    display: grid;
    grid-template-columns: 23% auto 23%;
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
  }
  .box1{
    background-color: white;
  }
  .box2{
    background-color: antiquewhite;
  }
  .box3{
    background-color: antiquewhite;
  }

  .element-tree{
    display: flex;
    overflow: hidden;

  }
  .element-tree button{
    float: left;
  }
  .tablinks{
    font-size: 25px;
    padding: 20px;
    margin: 0px 0px 0px 0px;
    width: 50%;
    background-color: whitesmoke;
    border-style: none;
    border-radius: 20px;
  }
  /* .tree{
    font-size: 25px;
    padding: 20px;
    margin: 0px 0px 0px 0px;
    width: 50%;
    background-color: whitesmoke;
    border-style: none;
  }
  .elements:hover{
    cursor: pointer;
    background-color: white;
    border-style: none;
  } */
  .tablinks:hover{
    cursor: pointer;
    background-color: white;
    border-style: none;
  }
  #search-element{
    margin: 20px;
    height: 60px;
    width: 90%;
    padding-left: 20px;
    font-size: 20px;
    border-radius: 10px;
    font-size: 27px;
    background-color: whitesmoke;
    border-style: none;
  }
  .field-static-structure{
    display: flex;
    margin: 10px 20px;
  }
  .fields{
width: 33%;
height: 50px;
padding: 10px 20px;
background-color: white;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
font-size: 23px;
border-color: whitesmoke;
  }
  .statics{
    width: 33%;
    height: 50px;
    padding: 10px 20px;
    background-color: white;
    font-size: 23px;
    border-color: whitesmoke;
  }
  .structure{
    width: 33%;
    height: 50px;
    padding: 10px 20px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 23px;
    border-color: whitesmoke;
  }
  .fields:hover{
    cursor: pointer;
    background-color: whitesmoke;
  }
  .statics:hover{
    cursor: pointer;
    background-color: whitesmoke;
  }
  .structure:hover{
    cursor: pointer;
    background-color: whitesmoke;
  }

  .field1{
    padding: 10px 0px;
  }
  .field2{
    padding: 10px 0px;
  }
  .field3{
    padding: 10px 0px;
  }
  .field4{
    padding: 10px 0px;
  }
  #head{
    font-size: 35px;
    font-weight: bold;
    color: rgb(15, 3, 3);
    margin-left: 150px;
  }
  #para{
    font-size: 30px;
    font-weight: lighter;
    color: rgb(203, 200, 200);
    margin-left: 150px;
    margin-top: -25px;
  }
  .field1:hover{
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 20px;
  }
  .field2:hover{
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 20px;
  }
  .field3:hover{
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 20px;
  }
  .field4:hover{
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 20px;
  }
  .tabcontent{
    display: none;
    
  }